.galeria {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.galeria img {
    width: 20%;
    border: 1px solid #ddd;
    padding: 0.3 em;
    box-sizing: border-box;
    margin-bottom: 20px;
    margin-right: 2%;
    margin-left: 25px;
    box-shadow: 17px 10px 5px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 17px 10px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 17px 10px 5px 0px rgba(0, 0, 0, 0.75);
}